# Ignore Gradle user home
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.c9/
*.launch
.settings/
.vscode

# Build
build/
out/
dist/

# OS
.DS_Store
.thumbs.db

# Mod
runs/
*.jar
!gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
